
@{
    ViewBag.Title = "_Footer";
}

<div class="container-fluid">
    <div class="col-md-4">
        <img src="~/assets/letterD.png" class="footerLogo">
        <div class="contact">
            <h4>Contact us:</h4>
            <div class="box">
                <h5>+373 68 123 456</h5>
                <h5>designStudio@interior.design</h5>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <h4>Help:</h4>
        <ul class="help">
            <li>Help Center</li>
            <li>Item Support</li>
            <li>Customer refunds</li>
            <li>Author refunds</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h4>About us:</h4>
        <ul class="help">
            <li>Home</li>
            <li>About</li>
            <li>Designers</li>
            <li>Contact</li>
            <li>Sign in</li>
            <li>Sign up </li>
            <li>FAQ</li>
        </ul>
    </div>
</div>
<div class="container-fluid footer2">
    <div class="row">

        <div class="col-md-4 widget">
            <div class="widget-body">
                <p class="text-left">
                    Copyright &copy; 2018, Design Studio.
                </p>
            </div>
        </div>
        <div class="col-md-4 widget">
            <div class="widget-body">
                <p class="simplenav">
                    @Html.ActionLink("Home", "Index", "Home", new { area = "Home" }, null) |
                    @Html.ActionLink("About", "About", "Home", new { area = "About" }, null) |
                    @Html.ActionLink("Contact", "Contact", "Home", new { area = "Contact" }, null) |
                    <b>@Html.ActionLink("SignIn", "signIn", "Home", new { area = "SignIn" }, null)</b>
                </p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="widget-body">
                <p class="follow-me-icons">
                    <i class="fa fa-twitter fa-2"></i>
                    <a href=""><i class="fa fa-dribbble fa-2"></i></a>
                    <a href=""><i class="fa fa-github fa-2"></i></a>
                    <a href=""><i class="fa fa-facebook fa-2"></i></a>

                </p>
            </div>
        </div>
    </div>
</div>

