@{
    ViewBag.Title = "_Header";
}
<div class="container">
    <div class="row">
        <h1 class="row logo">FUN, EASY, BEAUTIFUL</h1>
        <p class="tagline"> Design Studio: Create your dream home together with the best designers</p>
    </div>
</div>

