
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About";
}
<header id="header1">
    <h1 align="center"> About Us</h1>
    <div class="container">
            <div class="aboutInfo">
                Design Studio is a place where the most talented and creative people inspire and are ready to show you how
                the beauty can be found everywhere. Here you can find the portfolios of the best designers in the world, everyone
                with his own style and view of the world :
                <ul>
                    <li>MODERN</li>
                    <li>CONTEMPORARY</li>
                    <li>MINIMALIST</li>
                    <li>INDUSTRIAL</li>
                    <li>MID-CENTURY MODERN</li> and many others.
                    Contact us and your dream will become true.
                    <div class = "aboutImg">
                        <img src="~/assets/aboutImg.jpg" width="1000"/>
                    </div>
        </div>
    </div>
</header>
